benchmarks:
- benchmark_name: all_gather
  benchmark_sweep_params:
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "16x8x1", ici_size_range: 128, op_dimension: "4x4x1"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "16x8x1", ici_size_range: 128, op_dimension: "4x1x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "16x8x1", ici_size_range: 128, op_dimension: "1x4x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "16x2x4", ici_size_range: 128, op_dimension: "4x4x1"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "16x2x4", ici_size_range: 128, op_dimension: "4x1x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "16x2x4", ici_size_range: 128, op_dimension: "1x4x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "4x4x8", ici_size_range: 128, op_dimension: "4x4x1"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "4x4x8", ici_size_range: 128, op_dimension: "4x1x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "4x4x8", ici_size_range: 128, op_dimension: "1x4x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x4x4", ici_size_range: 128, op_dimension: "4x4x1"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x4x4", ici_size_range: 128, op_dimension: "4x1x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x4x4", ici_size_range: 128, op_dimension: "1x4x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x8x2", ici_size_range: 128, op_dimension: "4x4x1"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x8x2", ici_size_range: 128, op_dimension: "4x1x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x8x2", ici_size_range: 128, op_dimension: "1x4x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "4x8x4", ici_size_range: 128, op_dimension: "4x4x1"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "4x8x4", ici_size_range: 128, op_dimension: "4x1x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "4x8x4", ici_size_range: 128, op_dimension: "1x4x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "2x8x8", ici_size_range: 128, op_dimension: "4x4x1"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "2x8x8", ici_size_range: 128, op_dimension: "4x1x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "2x8x8", ici_size_range: 128, op_dimension: "1x4x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x2x8", ici_size_range: 128, op_dimension: "4x4x1"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x2x8", ici_size_range: 128, op_dimension: "4x1x4"}
  - {matrix_dim_range: {start: 2, end: 8, multiplier: 2}, dtype: "float32",  mesh_shape: "8x2x8", ici_size_range: 128, op_dimension: "1x4x4"}
  warmup_tries: 10
  trace_dir: "../microbenchmarks/all_gather_2d"
  csv_path: "../microbenchmarks/all_gather_2d"
  xlml_metrics_dir: "../microbenchmarks/all_gather_2d"
  xla_dump_dir: "../microbenchmarks/all_gather_2d/hlo_graphs"