jax[tpu]==0.10.1
absl-py
flax==0.12.7
jaxlib==0.10.1
libtpu==0.0.41
numpy
pandas
jsonlines
ray[default]
# For profiling
tensorboard-plugin-profile
# Install tensorflow-cpu to avoid spurring "Can't import tensorflow.python.profiler.trace" error from jax.profiler.
tensorflow-cpu
qwix@git+https://github.com/google/qwix.git
tokamax
tune-jax==0.7.2
immutabledict