benchmarks:
- benchmark_name: "gemm_all_reduce"
  trace_dir: "../microbenchmarks/gemm_all_reduce"
  csv_path: "../microbenchmarks/gemm_all_reduce"
  xlml_metrics_dir: "../microbenchmarks/gemm_all_reduce"
  xla_dump_dir: "../microbenchmarks/gemm_all_reduce/hlo_graphs"
  num_runs: 10
  benchmark_sweep_params:
  - {m: 1024, k: 1024, n: 1024, dtype: "bfloat16"}
  - {m: 2048, k: 2048, n: 2048, dtype: "bfloat16"}
  - {m: 4096, k: 4096, n: 4096, dtype: "bfloat16"}
  - {m: 8192, k: 8192, n: 8192, dtype: "bfloat16"}
  - {m: 16384, k: 16384, n: 16384, dtype: "bfloat16"}
  - {m: 32768, k: 32768, n: 32768, dtype: "bfloat16"}
