benchmarks:
  - benchmark_name: gemm_only
    trace_dir: "../microbenchmarks/gemm_all_reduce"
    csv_path: "../microbenchmarks/gemm_all_reduce"
    xlml_metrics_dir: "../microbenchmarks/gemm_all_reduce"
    xla_dump_dir: "../microbenchmarks/gemm_all_reduce/hlo_graphs"
    num_runs: 10
    benchmark_params:
      - m: 4096
        k: 4096
        n: 4096
        dtype: "bfloat16"
  - benchmark_name: all_reduce_only
    trace_dir: "../microbenchmarks/gemm_all_reduce"
    csv_path: "../microbenchmarks/gemm_all_reduce"
    xlml_metrics_dir: "../microbenchmarks/gemm_all_reduce"
    xla_dump_dir: "../microbenchmarks/gemm_all_reduce/hlo_graphs"
    num_runs: 10
    benchmark_params:
      - m: 4096
        k: 4096  # Passed to maintain signature, though not used for shape of C
        n: 4096
        dtype: "bfloat16"
  - benchmark_name: gemm_all_reduce
    trace_dir: "../microbenchmarks/gemm_all_reduce"
    csv_path: "../microbenchmarks/gemm_all_reduce"
    xlml_metrics_dir: "../microbenchmarks/gemm_all_reduce"
    xla_dump_dir: "../microbenchmarks/gemm_all_reduce/hlo_graphs"
    num_runs: 10
    benchmark_params:
      - m: 4096
        k: 4096
        n: 4096
        dtype: "bfloat16"