benchmarks:
- benchmark_name: all_gather
  benchmark_sweep_params:
  - {matrix_dim_range: {start: 512, end: 512, multiplier: 2}, dtype: "float32",  mesh_shape: "4x32", ici_size_range: 128, op_dimension: "1x32"} # Non Parallel Replica Groups
  - {matrix_dim_range: {start: 512, end: 512, multiplier: 2}, dtype: "float32",  mesh_shape: "4x16x2", ici_size_range: 128, op_dimension: "1x16x1"} # Parallel Replica Groups

  warmup_tries: 10
  trace_dir: "../microbenchmarks/all_gather_2d"
  csv_path: "../microbenchmarks/all_gather_2d"
  xlml_metrics_dir: "../microbenchmarks/all_gather_2d"
  xla_dump_dir: "../microbenchmarks/all_gather_2d/hlo_graphs"